body,
html {
  height: 100%;
}
body {
  font-family: "Permanent Marker", cursive;
  background-color: #282828;
  color: white;
}

h1 {
  display: block;
  text-align: center;
  font-size: 10rem;
}

p {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.author-message {
  font-size: 1rem;
  margin-top: 100px;
}

.audio-hint-button {
  color: black;
  border-radius: 5px;
}

.displayed-lives {
  margin-right: auto;
  font-size: 1.5rem;
}

.displayed-coins {
  margin-right: auto;
  font-size: 1.5rem;
}

.displayed-guess {
  font-size: 7rem;
}

.correct-guess-message,
.wrong-guess-message {
  font-size: 10rem;
}

.hint-button-fade-out {
  -webkit-animation: fadeOut 2s;
  -moz-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

h1,
.start-button,
.instructions-button,
.author-message,
.win-message,
.lose-message,
.retry-button {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.start-button,
.instructions-button,
.back-button,
.buy-back-button,
.retry-button {
  margin: 5px;
  width: 70%;
  color: black;
  border-radius: 5px;
}

.start-button:hover,
.instructions-button:hover,
.buy-back-button:hover, .retry-button:hover {
  background-color: #282828;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
