body,
html {
  height: 100%;
}

body {
  font-family: "Permanent Marker", cursive;
  background-color: #282828;
  color: white;
}

h1 {
  display: block;
  text-align: center;
  font-size: 10rem;
}

p {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.cancel-message {
  font-size: 10rem;
}

.author-message {
  font-size: 1rem;
  margin-top: 50px;
}

.only-for-desktop-message {
  font-size: 1rem;
}

.instructions-para {
  font-size: 2rem;
}

.audio-hint-button {
  color: black;
  border-radius: 5px;
}

.displayed-guess {
  font-size: 7rem;
}

.win-gif {
  border-radius: 50%;
  width: 50%;
  margin: 0 0 10px;
}

.hint-button-fade-out {
  -webkit-animation: fadeOut 2s;
  -moz-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

.correct-guess-message,
.wrong-guess-message {
  font-size: 10rem;
}

.displayed-lives, .displayed-coins, .timer-message {
  margin-right: auto;
  font-size: 1.5rem;
}

.normal-mode-button,
.speed-mode-button,
.instructions-button,
.back-button {
  margin: 5px;
  width: 70%;
  color: black;
  border-radius: 5px;
}

.buy-back-button,
.retry-button,
.audio-hint-button,
.quit-button {
  margin: 5px;
  color: black;
  border-radius: 5px;
}

.normal-mode-button:hover,
.speed-mode-button:hover,
.start-button:hover,
.instructions-button:hover,
.back-button:hover,
.buy-back-button:hover,
.retry-button:hover,
.audio-hint-button:hover,
.quit-button:hover {
  background-color: #282828;
  color: white;
  transition: 1s;
}

h1,
.normal-mode-button,
.speed-mode-button,
.instructions-button,
.author-message,
.only-for-desktop-message,
.win-message,
.win-gif,
.lose-message,
.retry-button,
.quit-button-fade-in {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
